<header>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>{{#linkTo "index" }}My App{{/linkTo}}</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>{{#linkTo "about" }}About{{/linkTo}}</li>
        <li>{{#linkTo "company.team" }}Team{{/linkTo}}</li>
      </ul>
    </section>
  </nav>
</header>